Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonGreystone/Characters/Heroes/Greystone/Animations/Jog_Fwd_Circle_Left.uasset
Content/ParagonGreystone/Characters/Heroes/Greystone/Animations/Jog_Fwd_Circle_Right.uasset
Content/ParagonGreystone/Characters/Heroes/Greystone/Animations/Jog_Fwd_Circle_Right.uasset
/Content/ParagonGreystone/Characters/Heroes/Greystone/Animations
